<!-- SIDEBAR-->
<div class="border-right p-3 text-center" id="sidebar">

    <br/>
    
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/640px-International_Pok%C3%A9mon_logo.svg.png" width="200px"
    (click)="buscar()"/>
    
    <br/><br/><br/>

    <img class="imgPerfil" 
        src="https://www.pngitem.com/pimgs/m/128-1286313_ash-ketchum-hd-png-download.png" width="200px"/>
        <br/>
    <br/>
    <h4 class="perfilNombre">ASHK123</h4>
    <h4 class="text-light">Nivel 1</h4>

    <p class="text-light">"Work hard on your test"</p>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="list-group list-reset">
        <a href="#" class="list-group-item list-group-item-action botonMorado perfilNombre">LOG OUT</a>
    </div>

</div>
<!-- FIN SIDEBAR-->